@tailwind base;
@tailwind components;

body {
    background-color: #131419;
    color: #FFF;
}

.neumorph {
    transition: box-shadow 0.2s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;
}

.neumorph-outset {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .05), 
                5px 5px 15px rgba(0, 0, 0, .5),
                inset 0px 0px 0px rgba(255, 255, 255, .05), 
                inset 0px 0px 0px rgba(0, 0, 0, .5);
}

.neumorph-inset {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, .05), 
                0px 0px 0px rgba(0, 0, 0, .5),
                inset -5px -5px 10px rgba(255, 255, 255, .05), 
                inset 5px 5px 15px rgba(0, 0, 0, .5);
}

.StatCard ~ .StatCard {
    @apply ml-6
}

.StatCard:hover {
    @apply neumorph-outset
}

.light .StatCard:hover {
    @apply neumorph-light-outset
}

body.light {
    background-color: #EEE;
}

.light {
    color: coral;
}

.neumorph-light-inset {
	box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9, inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003, inset 4px 4px 5px 0px #0001;
}

.neumorph-light-outset {
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

@tailwind utilities;