@tailwind base;
@tailwind components;

body {
    background-color: #131419;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
}

.neumorph {
    transition: box-shadow 0.2s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;
}

.neumorph-outset {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, .05), 
                5px 5px 15px rgba(0, 0, 0, .5),
                inset 0px 0px 0px rgba(255, 255, 255, .05), 
                inset 0px 0px 0px rgba(0, 0, 0, .5);
}

.neumorph-inset {
    box-shadow: 0px 0px 0px rgba(255, 255, 255, .05), 
                0px 0px 0px rgba(0, 0, 0, .5),
                inset -5px -5px 10px rgba(255, 255, 255, .05), 
                inset 5px 5px 15px rgba(0, 0, 0, .5);
}

.StatCard ~ .StatCard {
    @apply ml-5
}

[data-theme=dark] .StatCard {
    @apply neumorph-inset
}

[data-theme=dark] .StatCard:hover {
    @apply neumorph-outset
}

[data-theme=dark] .CountryStats {
    @apply neumorph-inset
}

[data-theme=light] .CountryStats {
    @apply neumorph-light-inset
}

[data-theme=dark] button {
    @apply neumorph-outset
}

[data-theme=dark] button:active {
    @apply neumorph-inset
}

[data-theme=light] button {
    @apply neumorph-light-outset
}

[data-theme=light] button:active {
    @apply neumorph-light-inset
}

[data-theme=light] .StatCard {
    @apply neumorph-light-inset
}

[data-theme=light] .StatCard:hover {
    @apply neumorph-light-outset
}

body[data-theme=light] {
    background-color: #EEE;
}

[data-theme=light] {
    color: coral;
}

.neumorph-light-inset {
	box-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -7px -7px 20px 0px #fff9, inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #0003, inset 4px 4px 5px 0px #0001;
}

.neumorph-light-outset {
	box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}

@tailwind utilities;